.box{
    position: relative;
    display: inline-block;
    background-color: aquamarine;
}
.box p{
    padding: 10px 15px;
}
.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    display: none;
}
.box:hover .dropdown{
    display: block;
}
